<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jplus.cherry.medicalservice.dao.DoctorMapper" >
  <resultMap id="BaseResultMap" type="jplus.cherry.medicalservice.model.Doctor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="certnum" property="certnum" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="INTEGER" />
    <result column="worknum" property="worknum" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="career" property="career" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="curenum" property="curenum" jdbcType="INTEGER" />
    <result column="monthscores" property="monthscores" jdbcType="INTEGER" />
    <result column="yearscores" property="yearscores" jdbcType="INTEGER" />
    <result column="popularynum" property="popularynum" jdbcType="INTEGER" />
    <result column="activitynum" property="activitynum" jdbcType="INTEGER" />
    <result column="descriptions" property="descriptions" jdbcType="VARCHAR" />
    <result column="glory" property="glory" jdbcType="VARCHAR" />
    <result column="limits" property="limits" jdbcType="INTEGER" />
    <result column="photourl" property="photourl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, realname, password, certnum, profession, department, worknum, education, 
    career, age, sex, email, telephone, curenum, monthscores, yearscores, popularynum, 
    activitynum, descriptions, glory, limits, photourl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="find" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_doctor
    where username = #{username}
  </select>
     <select id="selectAll" resultMap="BaseResultMap" >
   	select 
    <include refid="Base_Column_List" />
     from m_doctor
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jplus.cherry.medicalservice.model.Doctor" >
    insert into m_doctor (id, username, realname, 
      password, certnum, profession, 
      department, worknum, education, 
      career, age, sex, email, 
      telephone, curenum, monthscores, 
      yearscores, popularynum, activitynum, 
      descriptions, glory, limits, 
      photourl)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{certnum,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{department,jdbcType=INTEGER}, #{worknum,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{career,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{curenum,jdbcType=INTEGER}, #{monthscores,jdbcType=INTEGER}, 
      #{yearscores,jdbcType=INTEGER}, #{popularynum,jdbcType=INTEGER}, #{activitynum,jdbcType=INTEGER}, 
      #{descriptions,jdbcType=VARCHAR}, #{glory,jdbcType=VARCHAR}, #{limits,jdbcType=INTEGER}, 
      #{photourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jplus.cherry.medicalservice.model.Doctor" >
    insert into m_doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="certnum != null" >
        certnum,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="worknum != null" >
        worknum,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="curenum != null" >
        curenum,
      </if>
      <if test="monthscores != null" >
        monthscores,
      </if>
      <if test="yearscores != null" >
        yearscores,
      </if>
      <if test="popularynum != null" >
        popularynum,
      </if>
      <if test="activitynum != null" >
        activitynum,
      </if>
      <if test="descriptions != null" >
        descriptions,
      </if>
      <if test="glory != null" >
        glory,
      </if>
      <if test="limits != null" >
        limits,
      </if>
      <if test="photourl != null" >
        photourl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="certnum != null" >
        #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=INTEGER},
      </if>
      <if test="worknum != null" >
        #{worknum,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="curenum != null" >
        #{curenum,jdbcType=INTEGER},
      </if>
      <if test="monthscores != null" >
        #{monthscores,jdbcType=INTEGER},
      </if>
      <if test="yearscores != null" >
        #{yearscores,jdbcType=INTEGER},
      </if>
      <if test="popularynum != null" >
        #{popularynum,jdbcType=INTEGER},
      </if>
      <if test="activitynum != null" >
        #{activitynum,jdbcType=INTEGER},
      </if>
      <if test="descriptions != null" >
        #{descriptions,jdbcType=VARCHAR},
      </if>
      <if test="glory != null" >
        #{glory,jdbcType=VARCHAR},
      </if>
      <if test="limits != null" >
        #{limits,jdbcType=INTEGER},
      </if>
      <if test="photourl != null" >
        #{photourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jplus.cherry.medicalservice.model.Doctor" >
    update m_doctor
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="certnum != null" >
        certnum = #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=INTEGER},
      </if>
      <if test="worknum != null" >
        worknum = #{worknum,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="curenum != null" >
        curenum = #{curenum,jdbcType=INTEGER},
      </if>
      <if test="monthscores != null" >
        monthscores = #{monthscores,jdbcType=INTEGER},
      </if>
      <if test="yearscores != null" >
        yearscores = #{yearscores,jdbcType=INTEGER},
      </if>
      <if test="popularynum != null" >
        popularynum = #{popularynum,jdbcType=INTEGER},
      </if>
      <if test="activitynum != null" >
        activitynum = #{activitynum,jdbcType=INTEGER},
      </if>
      <if test="descriptions != null" >
        descriptions = #{descriptions,jdbcType=VARCHAR},
      </if>
      <if test="glory != null" >
        glory = #{glory,jdbcType=VARCHAR},
      </if>
      <if test="limits != null" >
        limits = #{limits,jdbcType=INTEGER},
      </if>
      <if test="photourl != null" >
        photourl = #{photourl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jplus.cherry.medicalservice.model.Doctor" >
    update m_doctor
    set username = #{username,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      certnum = #{certnum,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      department = #{department,jdbcType=INTEGER},
      worknum = #{worknum,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      curenum = #{curenum,jdbcType=INTEGER},
      monthscores = #{monthscores,jdbcType=INTEGER},
      yearscores = #{yearscores,jdbcType=INTEGER},
      popularynum = #{popularynum,jdbcType=INTEGER},
      activitynum = #{activitynum,jdbcType=INTEGER},
      descriptions = #{descriptions,jdbcType=VARCHAR},
      glory = #{glory,jdbcType=VARCHAR},
      limits = #{limits,jdbcType=INTEGER},
      photourl = #{photourl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>